@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	// 


/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px)
	.header-item-lenguage
		width: 50px
	.header-item-wrapper
		font-size: 18px
		width: 80px
	.header
		padding: 15px 0
		&__logo img
			max-width: 100px
	.main
		&__title_desc
			font-size: 15px
			margin: 0 18px
		&__input
			width: 250px
			height: 40px
		&__title
			font-size: 40px
			line-height: 0.8
		&__title_company
			font-size: 26px
		&__checkbox
			float: left
			margin-right: 10px
		&__checkbox_item
			font-size: 13px
			text-align: left
		&__chekboxes_wrapper
			white-space: normal
			padding: 0 25px
			position: relative
			display: block
			max-width: 100%
			text-align-last: left
		&__checkbox_label
			display: block
		&__support_text
			line-height: 1.8
			padding: 10px
			font-size: 13px
	.button-login
		width: 90%


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

