@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.4
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

// =======================
// Backgrounds
// =======================
body
	position: relative
	width: 100%
	background-image: url("../img/bg.png")
	background-repeat: no-repeat
	background-size: cover
	background-attachment: fixed
	// overflow: visible
.top-bg
	position: fixed
	top: 0
	left: 0
	width: 100%
	display: flex
	justify-content: space-between
	align-items: flex-start
	position: fixed
	&__left
		position: relative
		width: 40%
		height: 400px
		z-index: -1
		margin-right: auto
	&__right
		position: relative
		width: 40%
		height: 400px
		z-index: -1
		margin-left: auto
	&__img
		max-width: 100%

// =======================
// Header
// =======================
.header-icon
	font-size: 17px
	font-weight: 300
	color: $gold
.header-item-wrapper
	font-size: 18px
	font-weight: 900
	display: flex
	width: 100px
.header-item-lenguage
	margin-right: auto
	align-items: center
.header
	padding: 50px 0
	&__container
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
		z-index: 2
	&__lenguage_selected
		margin-right: auto
		align-items: center
		width: 50px
		position: relative
		&:hover
			cursor: pointer
	&__lenguage_drop_icon
		margin-left: 9px
	&__login
		margin-left: auto
		align-items: baseline
		&:hover
			cursor: pointer
	&__login_icon
		margin-right: 9px
	&__dropdown_ul
		position: absolute
		top: 13px
		left: 0
		width: 100%
		height: auto
		border: 2px solid $gray
		list-style-type: none
		padding-left: 0
		background: $white
		text-align: center
		opacity: 0
		transition: all .3s
		&.active
			opacity: 1
	&__lang_li
		position: relative
		border-bottom: 2px solid $gray
		&:last-child
			border-bottom: none
	&__lang_link
		padding: 10px
		display: block
		color: $gray
		text-transform: uppercase
		transition: all .3s
		&:hover
			text-decoration: none
			color: $black
		&.active
			background: $gold
			color: $black

.link
	font-weight: 900
	font-size: 14px
	border-bottom: 2px solid $black
	outline:
	color: $black
	padding-bottom: 2px
	padding-top: 2px
	transition: all .3s
	&:hover
		border-color: $gold
		text-decoration: none
		color: $black

// MAIN
.main
	padding: 30px 0
	position: relative
	&__content
		position: relative
		margin: auto
		text-align: center
	&__title
		font-weight: 900
		text-transform: uppercase
		font-size: 50px
		line-height: 1
	&__title_company
		font-size: 32px
		line-height: 1
	&__title_desc
		font-size: 20px
		font-weight: 100
		line-height: 1.2
		text-transform: uppercase
	&__inputs_wrapper
		margin-top: 30px
	&__input_item
		margin-top: 15px
	&__label
		display: list-item
		font-size: 18px
		font-weight: 900
		text-transform: uppercase
		line-height: 1
		margin-bottom: 12px
		list-style-type: none
	&__input
		width: 500px
		height: 60px
		border: 4px solid rgba($gray, .7)
		outline: none
		text-align: center
		transition: border .3s
		&.ok
			background-image: url("../img/icon-check-big.png")
			background-repeat: no-repeat
			background-position: 95% 50%
			border-color: $gold
		&:focus
			border: 4px solid $gold
	&__chekboxes_wrapper
		width: 500px
		text-align-last: left
		position: relative
		margin: auto
		white-space: nowrap
		margin-top: 40px
	&__checkbox_item
		margin-top: 15px
		font-size: 14px
		line-height: 1
	&__checkbox
		width: 20px
		height: 20px
		vertical-align: middle
		position: relative
		cursor: pointer
		&.no-check
			&:before
				border-color: $gold
		&:hover
			&:before
				border: 2px solid $gold
		&:focus
			outline: none
		&:before
			content: ""
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			border: 2px solid $gray
			background: $white
			transition: background-color, color .3s
		&.active
			&:before
				content: ""
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				border: 2px solid $gold
				background: $gold
				background-image: url("../img/icon-check-small.png")
				background-repeat: no-repeat
				background-position: 50% 50%
	&__checkbox_label
		margin-left: 10px
	&__button_wrapper
		position: relative
		margin-top: 30px
	&__forgot-password
		margin-top: 45px
		display: block
		text-align: center
		font-size: 14px
	&__reset-password
		font-size: 18px
		font-weight: 900
		margin-top: 5px
	&__support_text
		display: block
		margin-top: 35px
		font-size: 14px

.button-login
	height: 64px
	width: 230px
	position: relative
	display: block
	border: 4px solid rgba($gray, .7)
	margin: auto
	line-height: 64px
	color: $gray-dark
	font-weight: 900
	font-size: 14px
	transition: all .3s
	&:hover, &:active
		border-color: $gold
		text-decoration: none
		color: $black
	&:focus
		color: $black
		text-decoration: none

@import "media" // Всегда в конце
